<!-- 
    DESCRIPTION....
    ...
    Project: Aptiv Web Application
    Authors: Andrew Krause, Riley Radle, 
    Anthony Musbach, Zach Gephart
    Class: Software Design IV (CS 341)
    Group: #2
    Date: 12/15/2021
    ...
-->

<%- include('./partials/home_header.ejs') %>

    <!-- Send a message to the user alterting them that they made an unrestricted donation-->
    <% if(thanksForDonation.length > 0) { %>
        <div class="card-body elementToFadeInAndOut message-format">
            <h1 class="confirmation"><%= thanksForDonation %></h1>
        </div>
    <% } %>

    <div class="about-ejs">
        <div class="container">
            <div class="row">
                <div class="col mission">
                    <h2>Our Mission</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex 
                        ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
                        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
                        est laborum.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex 
                        ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
                        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
                        est laborum.
                    </p>
                    </div>

                <div class="col donate">
                    <h2>Donate to Team Aptiv</h2>
                    <% events.forEach(function(event) { %>
                        <!-- Makes POST request to the organization donation route -->
                        <!-- Use the forEach loop above to access the components of the document -->
                        <form class="form-horizontal" action="/donate_org" method="POST">
                            <div class="form-group mt-2">
                                <input type="hidden" class="login-register-font form-control" name="orgidentifier" value="<%= event.orgID %>">
                                <input type="hidden" class="login-register-font form-control" name="orgcurrent" value="<%= event.receivedDonations %>">
                                <input type="number" class="login-register-font form-control" name="orgdonation" min="1" required>
                            </div>
                            <button type="submit" class="mt-4 btn btn-lg btn-outline-light">Place Donation</button>
                        </form>
                    <% }); %>
                </div>
            </div>

            <div class="row mx-auto mt-3">
                <!-- Create a form to process when user clicks "Donate" button -->
                <h2>Having trouble with the site?</h2>
                <!-- Create a link for downloading the user help manual -->
                <span><a href="/download_help">Download Help Manual for Website</a></span>
            </div>


            <!-- Create a div with a form for donating to the organization -->
            <div class="row mt-4">

                <!-- Create a form for donating to Team Aptiv -->
                <!-- <form action="/donate_org" method="POST">
                    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-8 mx-auto">
                        <input type="hidden" id="custId" name="orgdonation" value="" onChange="this.form.submit()">
                        <button type="submit" class="mb-4 btn btn-dark btn-lg">Donate</button>
                    </div>
                </form> -->
                </div>
            </div>
        </div>
    </div>
 
    

<%- include('./partials/footer.ejs') %>
        