<!-- 
    The admin_profile.ejs file contains information
    related to the admin privileges and profile in
    the Team Aptiv web application. JavaScript is 
    included in the EJS file to alert the admin of 
    certain events that may occur while they are 
    using the application. The file also lists out
    the admin's profile information, the events that
    the admin has signed up for, buttons for the admin
    to create events, and buttons for the admin to 
    manipulate or view user information.
    ...
    Project: Aptiv Web Application
    Authors: Andrew Krause, Riley Radle, 
    Anthony Musbach, Zach Gephart
    Class: Software Design IV (CS 341)
    Group: #2
    Date: 12/15/2021
    ...
-->

<%- include('./partials/home_header.ejs') %>

    <div class="profile-ejs">
        <!-- Create a card for showing the user data -->
        <div class="container w-75 mt-3">
            <div class="row">

                <div class="col">
                    <header>
                        <!-- Display ADMIN profile picture; if user did -->
                        <!-- not use OAuth to sign or does not have picture, -->
                        <!-- use default profile image -->
                        <form action="/user_profile" method="post">
                            <!-- <div class="mt-3 mb-3" id="profile-container"> --> <!-- CHECK WITH ANDREW THAT THIS WONT MESS WITH STUFF -->
                                <img id="profileImage" src=<%= user.picture %> alt="Image not Found" onerror=this.src="images/default_pic.png">
                            <!-- </div> -->
                        </form>

                        <!-- Display ADMIN name and ADMIN status -->
                        <div>
                            <h1><%= user.firstName %></h1>
                            <p>Status: <%= user.status %></p>
                        </div>
                    </header>

                    <div class="profile-options">
                        <button data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fas fa-bolt"></i>
                            My Events
                            <i class="fas fa-chevron-right"></i>
                        </button>
                            
                        <!-- Add a button to create a new event -->
                        <form action="/create_event" method="POST">
                            <button type="submit">
                                <i class="fas fa-bolt"></i>
                                Create New Event
                                <i class="fas fa-chevron-right"></i>
                            </button>
                        </form>
                        
                        <!-- Add a button for the user to see their HISTORY !!! THIS WILL BE LATER ON IN THE COURSE -->
                        <form action="" method="">
                            <button type="submit" class="btn">
                                <i class="fas fa-bolt"></i>
                                See Event History
                                <i class="fas fa-chevron-right"></i>
                            </button>
                        </form>

                        <form action="/logout" method="POST">
                            <button type="submit">
                                <i class="fas fa-bolt"></i>
                                Logout
                                <i class="fas fa-chevron-right"></i>
                            </button>
                        </form>
                    </div>
                </div>

                
                <div class="col">

                        <!-- 
                            Include EJS to display a success message to the ADMIN if
                            they successfully created a new event.
                        -->
                        <% if(successCreated.length > 0) { %>
                            <div class="card-body elementToFadeInAndOut message-format">
                                <h1 class="confirmation"><%= successCreated %></h1>
                            </div>
                        <% } %>

                        <!-- 
                            Include EJS to display a failure message to the ADMIN if
                            they failed to create a new event.
                        -->
                        <% if(failureNotCreated.length > 0) { %>
                                <div class="card-body elementToFadeInAndOut message-format">
                                    <h1 class="incorrect-input"><%= failureNotCreated %></h1>
                                </div>
                        <% } %>
                    <!-- 
                        Include a section for the events that the user has signed up
                        for to be rendered on the user's profile page
                    -->
                    <div class="events-list collapse collapse" id="collapseEvents">
                        <!-- Loop through the database and display the events -->
                        <% listOfUserEvents.forEach(function(event) { %>
                            <% if(event == null) { %>
                                <% // For now, do nothing. In the future, trigger a request so that the %>
                                <% // event object ID is removed from the user's info in the database. %>
                            <% } else { %>

                                <div class="event">
                                    <!-- Create divs that will make the events be collapsable -->
                                    <button type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%=event._id%>"
                                    aria-expanded="false" aria-controls="collapse<%=event._id%>"><%= event.eventName %></button>

                                    <div class="collapse" id="collapse<%=event._id%>">
                                        <!-- Include a function to simplify the date display -->
                                        <% function simplifyEventDate(eventDate){ %>
                                            <% // First split the event into the components that directly %>
                                            <% // involve the numberical representations of a date. %>
                                            <% var date = eventDate.toISOString().split("T")[0]; %>
                                        
                                            <% // Create variables for workring with %>
                                            <% // the nubmers in the date variable. %>
                                            <% var arrayDate = date.split('-'); %>
                                            <% var day = arrayDate[2]; %>
                                            <% var getMonth = arrayDate[1]; %>
                                            <% var month = ""; %>
                                            <% var year = arrayDate[0]; %>
                                            <% var simplifiedDate = ""; %>
                                        
                                            <% // Use a series of conditionals to determine %>
                                            <% // what the name of the month is based on the %>
                                            <% // numerical representation of it. %>
                                            <% if(getMonth.localeCompare('1') == 0) { %>
                                                <% month = 'Jan'; %>
                                            <% } else if(getMonth.localeCompare('2') == 0) { %>
                                                <% month = 'Feb'; %>
                                            <% } else if(getMonth.localeCompare('3') == 0) { %>
                                                <% month = 'Mar'; %>
                                            <% } else if(getMonth.localeCompare('4') == 0) { %>
                                                <% month = 'Apr'; %>
                                            <% } else if(getMonth.localeCompare('5') == 0) { %>
                                                <% month = 'May'; %>
                                            <% } else if(getMonth.localeCompare('6') == 0) { %>
                                                <% month = 'Jun'; %>
                                            <% } else if(getMonth.localeCompare('7') == 0) { %>
                                                <% month = 'Jul'; %>
                                            <% } else if(getMonth.localeCompare('8') == 0) { %>
                                                <% month = 'Aug'; %>
                                            <% } else if(getMonth.localeCompare('9') == 0) { %>
                                                <% month = 'Sep'; %>
                                            <% } else if(getMonth.localeCompare('10') == 0) { %>
                                                <% month = 'Oct'; %>
                                            <% } else if(getMonth.localeCompare('11') == 0) { %>
                                                <% month = 'Nov'; %>
                                            <% } else if(getMonth.localeCompare('12') == 0) { %>
                                                <% month = 'Dec'; %>
                                            <% } else { %>
                                                <% month = 'ERROR'; %>
                                            <% } %>
                                        
                                            <% // Create the simplified date and return it. %>
                                            <% simplifiedDate = month + " " + (day - 1) + ", " + year; %>
                                            <% return simplifiedDate; %>
                                        <% } %>

                                        <ul class="mt-1">
                                            <!-- The date displayed utilized the function above for simplification -->
                                            <li> <%= simplifyEventDate(event.eventDate) %> </li>

                                            <!-- Display the event location, description, volunteer, and donation information -->
                                            <li> Location: <%= event.eventLocation %> </li>
                                            <li> Description: <%= event.eventDescription %> </li>
                                            <li> Volunteers: TELL USER WHAT TIME THEY VOLUNTEERED FOR </li>
                                            <% if(event.neededDonations > 0) { // && CHECK IF USER CONTRIBUTED TO THIS EVENT) { %>
                                                <li> Donations: You have given PUT AMOUNT HERE </li>
                                            <% } %>
                                        </ul>
                                    </div>
                                </div>
                                
                            <% } %>
                        <% }); %>
                    </div>
                </div>

                <!-- Include a button for going back to the "Events" page -->
                <!-- <div class="btn-group p-2">
                    <div class="d-flex">
                        <form action="/back" method="POST">
                            <div>
                                <button type="submit" class="btn btn-outline-dark btn-back"><i class="fas fa-arrow-left"></i> Back</button>
                            </div>
                        </form>
                    </div>
                </div> -->
            </div>
        </div>
    </div>

   
  
<%- include('./partials/footer.ejs') %>