<!-- 
    DESCRIPTION GOES HERE...
    ...
    Author: Andrew Krause, Riley Radle, Anthony Musbach, Zach Gephart
    Date: TBD
    ...
-->

<%- include('./partials/home_header.ejs') %>

    <!-- Show the format for logged in, which is a button to the user profile -->
    <!-- <% if(typeof user != 'undefined') { %>
        <div class="container mt-4">
            <form action="/see_profile" method="POST">
                <div>
                    <button type="submit" class="btn btn-outline-dark"> Go to My Profile</button>
                </div>
            </form>
        </div>
    <% } %> -->

    <!-- 
        Include EJS display a message informing the user that 
        they successfully volunteered or donated to an event.
    -->
    <% if(successVolunteered.length > 0) { %>
        <div class="card">
            <div class="card-body elementToFadeInAndOut">
                <h1 class="confirmation"><%= successVolunteered %></h1>
            </div>
        </div>
    <% } %>

    <!-- List of programs/events -->
    <div class="container mt-4 mb-4">
        <header>
            <h1>Find Community Events</h1>
            <small>Volunteer | Donate</small>
            <hr>
        </header>

        <!-- Include a section for the events to be posted -->
        <section class="event-list">
            <!-- Loop through the database and display the events -->
            <% events.forEach(function(event) { %>

                <a href="/events/<%=event._id%>">
                    <div class="card mt-3">
                        <div class="card-body">
                            <div class="event">
                                <h2 class="black-text"> <%= event.eventName %> </h2>
                                <p> <%= event.eventDate %> </p>
                                <p> <%= event.eventLocation %> </p>
                            </div>
                        </div>
                    </div>
                </a>

            <% }); %>
        </section>

        <!-- Back button -->
        <!-- <div class="container mt-4">
            <form action="/back" method="POST">
                <div>
                    <button type="submit" class="btn btn-outline-dark"><i class="fas fa-arrow-left"></i> Back</button>
                </div>
            </form>
        </div> -->
    </div>

 <%- include('./partials/footer.ejs') %>