<!-- 
    The specific_event.ejs file contains more
    details about a given event on the web
    application that a user clicks on. This
    page is generated when a user clicks on
    any event listed on the events.ejs page.
    On the page, which is designed to display
    the details for any event that is clicked,
    there exists a "back" button to go back 
    to the events list, a "donate" button if 
    the user wishes to donate to the event, 
    and a "volunteer" button if the user 
    wishes to volunteer for the event (Note:
    the user needs to have an account to 
    donate to or volunteer for an event).
    ...
    Project: Aptiv Web Application
    Authors: Andrew Krause, Riley Radle, 
    Anthony Musbach, Zach Gephart
    Class: Software Design IV (CS 341)
    Group: #2
    Date: 12/15/2021
    ...
-->

<%- include('./partials/home_header.ejs') %>

    <div class="specific-event-ejs mt-3">
        <!-- Create a container to format the specific event on the page. -->
        <div>

            <!-- 
                Include EJS display a message informing the user that 
                they successfully volunteered or donated to an event.
            -->
            <% if(successVolunteeredOrDonated.length > 0) { %>
                <div class="confirmation message-format">
                    <b><%= successVolunteeredOrDonated %></b>
                </div>
            <% } %>

            <!-- 
                Include EJS display a message informing the user that
                they have already signed up for a particular event.
            -->
            <% if(alreadyVolunteered.length > 0) { %>
                <div class="incorrect-input message-format">
                    <b><%= alreadyVolunteered %></b>
                </div>
            <% } %>
                    
            <!-- Create a title for the event creation page.-->
            <div class="event">
                <h1> <%= eventName %> </h1>
                <ul>
                    <li> <%= eventDate %> </li>
                    <li><%= eventStartTime %> - <%= eventEndTime %> </li>
                    <li>Location: <%= eventLocation %> </li>

                    <!-- Use the split function to determine if the description was left blank -->
                    <% var descriptionArray = eventDescription.split(" "); %>
                    <% if(descriptionArray[1] != "") { %>

                        <!-- If the description is not blank, obtain the info for it and display -->
                        <% var descriptionString = ""; %>
                        <% for(let i = 1; i < descriptionArray.length; i++) { %>
                            <% descriptionString = descriptionString + " " + descriptionArray[i]; %>
                        <% } %>
                        
                        <!-- Display the description assuming it is not blank -->
                        <li>Description: <%= descriptionString %> </li>
                    <% } %>
                </ul>

                <!-- Include buttons to go back or cancel event (if admin) -->
                <div class="btn-container">
                    <!-- Button to go back to the other events -->
                    <div class="d-flex">
                        <form action="/back_events" method="POST">
                            <div>
                                <button type="submit" class="btn btn-outline-light"><i class="fas fa-arrow-left"></i> Back to Events</button>
                            </div>
                        </form>
                    </div>
                    <!-- If the user is the ADMIN, display a "Cancel Event" button -->
                    <!-- so that the ADMIN has the option to cancel the event. -->
                    <% if(user != undefined && user.status == "Admin") { %>
                        <div class="d-flex">
                            <form action="/admin_cancel_event" method="POST">
                                <div>
                                    <input type="hidden" id="custId" name="canceleventidentifier" value="<%= eventID %>"> 
                                    <button type="submit" class="btn btn-outline-light"><i class="fas fa-calendar-times"></i> Cancel Event</button>
                                </div>
                            </form>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>

        <div class="volunteer-donate">
            
            <!-- Card content for donation information -->
            <div class="donate">
                <!-- Makes POST request to the donation route -->
                <form class="form-horizontal" action="/donate" method="POST">

                    <!-- Display the donations on the page depending on how many donations were received -->
                    <% if (neededDonations > 0) { %>
                        <label for="donations" class="form-title-no-border">Donation Goal: $<%= neededDonations %></label>
                        <label for="donations" class="form-title">Received Donations: $<%= numDonations %></label>
                    <% } else { %>
                        <label for="donations" class="form-title">Received Donations: $<%= numDonations %></label>
                    <% } %>
                    <input type="hidden" id="custId" name="eventidentifier" value="<%= eventID %>" onChange="this.form.submit()">
                    <input type="number" class="login-register-font form-control" name="eventdonation" min="1" required>
                    <div class="submit-container">
                        <button type="submit" class="mt-2 btn btn-outline-light">Place Donation</button>
                    </div>

                </form>
            </div>

            <% if (numVolunteersNeeded > 0) { %>
                <!-- Collapsed content for volunteering information -->
                <div class="volunteer">

                    <h3 class="form-title">Available time slots:</h3>

                    <!-- FUNCTION: Function to get the value of the timeslot, which is the slot time -->
                    <% function getResult() { %>
                        <% var value = $('timeslot').getValue(); %>
                    <% } %>

                    <!-- Makes POST request to the volunteer route -->
                    <form class="form-horizontal" action="/volunteer" method="POST">

                        <!-- Create different time slots that the user can sign up for -->
                        <% eventTimeIncrements.forEach(function(timeSlot) { %>

                            <% // Take the time and remove the unique id from the total string for display purposes. %>
                            <% var timeSlotSplitTemp = timeSlot.split(" "); %>

                            <% if(timeSlotSplitTemp.length > 1) { %>
                                <% var timeSlotSplit = timeSlotSplitTemp[1] + " " + timeSlotSplitTemp[2] + " " + timeSlotSplitTemp[3] + " " + timeSlotSplitTemp[4] +  " " + timeSlotSplitTemp[5]; %>
                                <% // Display the time slot as a checkbox that the user can select. %>
                                <div class="timeslot mt-2">
                                    <input type="checkbox" id="<%= timeSlot %>" class="myCheckBox" name="timeslot" value="<%= timeSlot %>">
                                    <label for="<%= timeSlot %>"><%= timeSlotSplit %></label>
                                </div>
                            <% } %>

                        <% }); %>
                        
                        <input type="hidden" id="custId" name="eventidentifier" value="<%= eventID %>" onChange="getResult()"> 
                        <input type="hidden" id="custId" name="eventdate" value="<%= eventDate %>" onChange="getResult()"> 
                        
                        <div class="submit-container">
                            <button type="submit" class="mt-4 btn btn-outline-light">Sign Up</button>
                        </div>
                    </form>
                </div>
            <% } %>

                    <!-- 
                        Include EJS display a message informing the user that
                        they have already signed up for a particular event.
                    -->
                    <% if(alreadyVolunteered.length > 0) { %>
                        <div class="incorrect-input message-format">
                            <b><%= alreadyVolunteered %></b>
                         </div>
                    <% } %>
                </form>
            </div>
        </div>
    </div>
    <!-- Need this here to not affect the grid layout -->
    <div class="background"></div>

<%- include('./partials/footer.ejs') %>
