<!-- 
    DESCRIPTION GOES HERE...
    ...
    Author: Andrew Krause, Riley Radle, Anthony Musbach, Zach Gephart
    Date: TBD
    ...
-->

<%- include('./partials/home_header.ejs') %>

    <!-- 
        Include EJS display a message informing the user that 
        they successfully volunteered or donated to an event.
    -->
    <% if(successVolunteered.length > 0) { %>
        <div class="card">
            <div class="card-body elementToFadeInAndOut message-format">
                <h1 class="confirmation"><%= successVolunteered %></h1>
            </div>
        </div>
    <% } %>

    <!-- 
        Include EJS display a message informing the user that
        they have already signed up for a particular event.
    -->
    <% if(alreadyVolunteered.length > 0) { %>
        <div class="card">
            <div class="card-body elementToFadeInAndOut message-format">
                <h1 class="incorrect-input"><%= alreadyVolunteered %></h1>
            </div>
        </div>
    <% } %>

    <!-- Create a container to format the specific event on the page. -->
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-sm-8 mx-auto">
                <div class="card event-margin-fine-tuning">
                    <div class="card-body">
                        <div class="card-text">
                            
                            <!-- Create a title for the event creation page.-->
                            <div class="mb-4">
                                <h1 class="black-text"> <%= eventName %> </h1>
                                <h3> <%= eventDate %> </h3>
                                <p><%= eventStartTime %> - <%= eventEndTime %> </p>
                                <p>Location: <%= eventLocation %> </p>
                                <p>Description: <%= eventDescription %> </p>
                                <p>Volunteers Needed: <%= numVolunteersNeeded %> </p>
                                <p>Donations Needed: <%= neededDonations %> </p>
                            </div>

                            <!-- Create two buttons that collapse and show the donate and volunteer information -->
                            <div class="special btn-group w-50 mx-auto">
                                <% if(neededDonations > 0) { %>
                                    <button class="btn btn-outline-dark" type="button" data-bs-toggle="collapse" 
                                    data-bs-target="#collapseDonations" aria-expanded="false" aria-controls="collapseDonations">Donate</button>
                                <% } %>
                                <button class="btn btn-outline-dark" type="button" data-bs-toggle="collapse" 
                                    data-bs-target="#collapseVolunteering" aria-expanded="false" aria-controls="collapseVolunteering">Volunteer</button>
                            </div>

                            <!-- Collapsed content for donation information -->
                            <div class="collapse" id="collapseDonations">
                                <!-- Makes POST request to the donation route -->
                                <form class="form-horizontal" action="/donate" method="POST">
                                    <div class="form-group mt-2">
                                        <label class="login-register-font control-label" for="donations">Donation Goal: $<%= neededDonations %></label>
                                        <input type="number" class="login-register-font form-control" name="eventdonation" min="1" max=<%= neededDonations %> required>
                                    </div>
                                    <button type="submit" class="mt-4 btn btn-lg btn-dark">Place Donation</button>
                                </form>
                            </div>
          
                            <!-- Collapsed content for volunteering information -->
                            <div class="collapse" id="collapseVolunteering">
                                <!-- Makes POST request to the volunteer route -->
                                <form class="form-horizontal" action="/volunteer" method="POST">
                                    <input type="hidden" id="custId" name="eventvolunteer" value="<%= eventID %>" onChange="this.form.submit()">
                                    <button type="submit" class="mt-4 btn btn-lg btn-dark">Sign Up</button>
                                </form>
                            </div>
                        </div>
                    </div>
                
                <!-- Button to go back to the other events -->
                <div class="d-flex">
                    <form action="/back_events" method="POST">
                        <div>
                            <button type="submit" class="btn btn-outline-dark btn-back"><i class="fas fa-arrow-left"></i> Back to Events</button>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>

<%- include('./partials/footer.ejs') %>
