<!-- 
    DESCRIPTION GOES HERE...
    ...
    Author: Andrew Krause, Riley Radle, Anthony Musbach, Zach Gephart
    Date: TBD
    ...
-->

<%- include('./partials/home_header.ejs') %>

    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-sm-8 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <div class="card-text">
                            
                            <!-- Create a title for the event creation page.-->
                            <div class="mb-4">
                                <h1> <%= eventName %> </h1>
                                <h3> <%= eventDate %> </h3>
                                <p><%= eventStartTime %> - <%= eventEndTime %> </p>
                                <p>Location: <%= eventLocation %> </p>
                                <p>Description: <%= eventDescription %> </p>
                                <p>Number of Volunteers Needed: <%= numVolunteersNeeded %> </p>
                                <!-- <p>Money Needed: $<%= neededDonations %> </p> -->
                            </div>

                            <!-- 
                                If the needed donations for the event are greater than zero, 
                                render donation button on screen 
                            -->
                            <% if(neededDonations > 0) { %>
                                <!-- Makes POST request to the donation route -->
                                <form class="form-horizontal" action="/donate" method="POST">
                                    <div class="form-group mt-2">
                                        <label class="login-register-font control-label" for="donations">Amount to Donate</label>
                                        <input type="number" class="login-register-font form-control" name="eventdonations" required>
                                    </div>
                                    <button type="submit" class="mt-4 btn btn-lg btn-dark">Donate</button>
                                </form>
                            <% } %>
                            
                            <!-- Makes POST request to the volunteer route -->
                            <form class="form-horizontal" action="/volunteer" method="POST">
                                <button type="submit" class="mt-4 btn btn-lg btn-dark">Sign Up</button>
                            </form>
    
                        </div>
                    </div>
    
                    <!-- Button to go back to the other events -->
                    <div class="container mt-4 mb-4">
                        <form action="/back_events" method="POST">
                            <div>
                                <button type="submit" class="btn btn-outline-dark"><i class="fas fa-arrow-left"></i> Back to Events</button>
                            </div>
                        </form>
                    </div>
    
                </div>
            </div>
        </div>
    </div>

<%- include('./partials/footer.ejs') %>
