<!-- 
    The specific_event.ejs file contains more
    details about a given event on the web
    application that a user clicks on. This
    page is generated when a user clicks on
    any event listed on the events.ejs page.
    On the page, which is designed to display
    the details for any event that is clicked,
    there exists a "back" button to go back 
    to the events list, a "donate" button if 
    the user wishes to donate to the event, 
    and a "volunteer" button if the user 
    wishes to volunteer for the event (Note:
    the user needs to have an account to 
    donate to or volunteer for an event).
    ...
    Project: Aptiv Web Application
    Authors: Andrew Krause, Riley Radle, 
    Anthony Musbach, Zach Gephart
    Class: Software Design IV (CS 341)
    Group: #2
    Date: 12/15/2021
    ...
-->

<%- include('./partials/home_header.ejs') %>

    <div class="specific-event-ejs">
        <!-- Create a container to format the specific event on the page. -->
        <div class="container mt-5 mb-5">
            <div class="row">
                <!-- 
                    Include EJS display a message informing the user that 
                    they successfully volunteered or donated to an event.
                -->
                <% if(successVolunteeredOrDonated.length > 0) { %>
                    <div class="confirmation">
                        <div class="elementToFadeInAndOut message-format">
                            <h2><%= successVolunteeredOrDonated %></h2>
                        </div>
                    </div>
                <% } %>

                <!-- 
                    Include EJS display a message informing the user that
                    they have already signed up for a particular event.
                -->
                <% if(alreadyVolunteered.length > 0) { %>
                    <div class="incorrect-input">
                        <div class="elementToFadeInAndOut message-format">
                            <h2><%= alreadyVolunteered %></h2>
                        </div>
                    </div>
                <% } %>

                <div class="col mx-auto">
                            
                    <!-- Create a title for the event creation page.-->
                    <div class="event">
                        <h1> <%= eventName %> </h1>
                        <ul>
                            <li> <%= eventDate %> </li>
                            <li><%= eventStartTime %> - <%= eventEndTime %> </li>
                            <li>Location: <%= eventLocation %> </li>
                            <li><%= eventDescription %> </li>
                        </ul>
                    </div>
                </div>

                <div class="col">
                    <!-- Collapsed content for donation information -->
                    <div class="donate">
                        <!-- Makes POST request to the donation route -->
                        <form class="form-horizontal" action="/donate" method="POST">
                            <label for="donations">Donation Goal: $<%= neededDonations %></label>
                            <input type="hidden" id="custId" name="eventidetifier" value="<%= eventID %>" onChange="this.form.submit()">
                            <input type="number" class="login-register-font form-control" name="eventdonation" min="1" max=<%= neededDonations %> required>
                            <div class="submit-container"><button type="submit" class="mt-2 btn btn-outline-light">Place Donation</button></div>
                        </form>
                    </div>

                    <!-- Collapsed content for volunteering information -->
                    <div class="volunteer">
                        <!-- FUNCTION 1: Function to get the value of the timeslot, which is the slot time -->
                        <% function getResult() { %>
                            <% var value = $('timeslot').getValue(); %>
                        <% } %>

                        <!-- Makes POST request to the volunteer route -->
                        <form class="form-horizontal" action="/volunteer" method="POST">
                            <label class="">Available Time Slots:</label>
                            <!-- Create different time slots that the user can sign up for -->
                            <% eventTimeIncrements.forEach(function(timeSlot) { %>
                                <div class="timeslot m-2">
                                    <input id="<%= timeSlot %>" type="checkbox" class="myCheckBox" name="timeslot" value="<%= timeSlot %>">
                                    <label for="<%= timeSlot %>"><%= timeSlot %></label>
                                </div>
                            <% }); %>
                            <input type="hidden" id="custId" name="eventidetifier" value="<%= eventID %>" onChange="getResult()"> 
                            <div class="submit-container"><button type="submit" class="btn btn-outline-light">Sign Up</button></div>
                        </form>
                    </div>
                
                    <!-- Button to go back to the other events -->
                    <!-- <div class="d-flex">
                        <form action="/back_events" method="POST">
                            <div>
                                <button type="submit" class="btn btn-outline-dark btn-back"><i class="fas fa-arrow-left"></i> Back to Events</button>
                            </div>
                        </form>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

<%- include('./partials/footer.ejs') %>
