<!-- 
    The user_profile.ejs file contains the 
    structure for the user profile. The user
    profile contains user information such
    as their status (volunteer or volunteer,
    donor), buttons for navigating to pages
    on the web application, and the events
    that the user has signed up for. The 
    user profile page also contains some
    buttons for going back to the events
    page as well as a button for the user
    to log out of their account.
    ...
    Project: Aptiv Web Application
    Authors: Andrew Krause, Riley Radle, 
    Anthony Musbach, Zach Gephart
    Class: Software Design IV (CS 341)
    Group: #2
    Date: 12/15/2021
    ...
-->

<!-- // NOTE TO ANDREW: REMEMBER TO DISPLAY THE AMOUNT THE USER HAS DONATED TO EACH EVENT!!! IN EVENT -->
<!-- HISTORY, SHOW THE EVENTS THAT THE USER HAS CANCELLED AS WELL AS THE EVENTS THAT HAVE ALREADY OCURRED!!! -->

<%- include('./partials/home_header.ejs') %>

    <!-- 
        Include EJS to display any success messages to the user if they
        have successfully cancelled one event or multiple event timeslots.
    -->
    <% if(sucessCancelled.length > 0) { %>
        <div class="confirmation">
            <div class="elementToFadeInAndOut message-format">
                <h1><%= sucessCancelled %></h1>
            </div>
        </div>
    <% } %>

    <div class="profile-ejs">
        <!-- Create a card for showing the user data -->
        <div class="container w-75 mt-3">
            <div class="row">

                <div class="col">
                    <header>
                        <!-- Display ADMIN profile picture; if user did -->
                        <!-- not use OAuth to sign or does not have picture, -->
                        <!-- use default profile image -->
                        <form action="/user_profile" method="post">
                            <!-- <div class="mt-3 mb-3" id="profile-container"> --> <!-- CHECK WITH ANDREW THAT THIS WONT MESS WITH STUFF -->
                                <img id="profileImage" src=<%= user.picture %> alt="Image not Found" onerror=this.src="images/default_pic.png">
                            <!-- </div> -->
                        </form>

                        <!-- Display ADMIN name and ADMIN status -->
                        <div>
                            <h1><%= user.firstName %> <%= user.lastName %></h1>
                            <p>Status: <%= user.status %></p>
                        </div>
                    </header>

                    <!-- Obtain an array of identification numbers in order to list all of the -->
                    <!-- events that the user has has signed up for under the "Events" button -->
                    <% var eventsArrayIds = []; %>
                    <% listOfUserEvents.forEach(function(event) { %>
                        <% if(event == null) { %>
                            <% // For now, do nothing. In the future, trigger a request so that the %>
                            <% // event object ID is removed from the user's info in the database. %>
                        <% } else { %>
                            <% eventsArrayIds.push(event.eventID); %>
                        <% } %>
                    <% }); %>

                    <!-- Create a list that will act a the aria-controls -->
                    <!-- attribute for the collapsible events button -->
                    <!-- <% var multipleCollapseItems = ""; %>
                    <% for(let i = 0; i < eventsArrayIds.length; i++) { %>
                        <% if(i == 0) { %>
                            <% multipleCollapseItems = eventsArrayIds[i]; %>
                        <% } else { %>
                            <% multipleCollapseItems = multipleCollapseItems +  " " + eventsArrayIds[i]; %>
                        <% } %>
                    <% } %> -->

                    <div class="profile-options">
                        <!-- <button type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="<%= multipleCollapseItems %>">
                            <i class="fas fa-clipboard-list"></i>
                            My Events
                            <i class="fas fa-chevron-right"></i>
                        </button> -->

                        <button type="button" data-bs-toggle="collapse" data-bs-target="#collapse-events" aria-expanded="false" aria-controls="collapse-events">
                            <i class="fas fa-clipboard-list"></i>
                            My Events
                            <i class="fas fa-chevron-right"></i>
                        </button>
                        
                            
                        <!-- Add a button for the user to see their HISTORY !!! THIS WILL BE LATER ON IN THE COURSE -->
                        <form action="" method="">
                            <button type="submit" class="btn">
                                <i class="fas fa-history"></i>
                                See Event History
                                <i class="fas fa-chevron-right"></i>
                            </button>
                        </form>

                        <form action="/logout" method="POST">
                            <button type="submit">
                                <i class="fas fa-sign-out-alt"></i>
                                Logout
                                <i class="fas fa-chevron-right"></i>
                            </button>
                        </form>
                    </div>
                </div>
                
                <!-- Add a column class in order to help make the page responsive -->
                <div class="col">

                        <!-- 
                            Include EJS to display any error messages to the user if the
                            attempt to access a page that they are not authorized to access.
                        -->
                        <% if(permissionDenied.length > 0) { %>
                            <div class="incorrect-input">
                                <div class="elementToFadeInAndOut message-format">
                                    <h1><%= permissionDenied %></h1>
                                </div>
                            </div>
                        <% } %>
                        
                    <!-- 
                        Include a section for the events that the user has signed up
                        for to be rendered on the user's profile page
                    -->
                    <div class="events-list collapse" id="collapse-events"> 
                        <!-- collapse collapse" id="collapseEvents"> -->
                        <!-- Loop through the database and display the events -->
                        <% listOfUserEvents.forEach(function(event) { %>
                            <% if(event == null) { %>
                                <% // For now, do nothing. In the future, trigger a request so that the %>
                                <% // event object ID is removed from the user's info in the database. %>
                            <% } else { %>

                                <div class="event">
                                    <!-- Create divs that will make the events be collapsable -->
                                    <button class="dropdown" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%=event._id%>"
                                    aria-expanded="false" aria-controls="collapse<%=event._id%>"><%= event.eventName %></button>

                                    <div class="collapse" id="collapse<%=event._id%>">
                                        <!-- Include a function to simplify the date display -->
                                        <% function simplifyEventDate(eventDate){ %>
                                            <% // First split the event into the components that directly %>
                                            <% // involve the numberical representations of a date. %>
                                            <% var date = eventDate.toISOString().split("T")[0]; %>
                                        
                                            <% // Create variables for workring with %>
                                            <% // the nubmers in the date variable. %>
                                            <% var arrayDate = date.split('-'); %>
                                            <% var day = arrayDate[2]; %>
                                            <% var getMonth = arrayDate[1]; %>
                                            <% var month = ""; %>
                                            <% var year = arrayDate[0]; %>
                                            <% var simplifiedDate = ""; %>
                                        
                                            <% // Use a series of conditionals to determine %>
                                            <% // what the name of the month is based on the %>
                                            <% // numerical representation of it. %>
                                            <% if(getMonth.localeCompare('1') == 0) { %>
                                                <% month = 'Jan'; %>
                                            <% } else if(getMonth.localeCompare('2') == 0) { %>
                                                <% month = 'Feb'; %>
                                            <% } else if(getMonth.localeCompare('3') == 0) { %>
                                                <% month = 'Mar'; %>
                                            <% } else if(getMonth.localeCompare('4') == 0) { %>
                                                <% month = 'Apr'; %>
                                            <% } else if(getMonth.localeCompare('5') == 0) { %>
                                                <% month = 'May'; %>
                                            <% } else if(getMonth.localeCompare('6') == 0) { %>
                                                <% month = 'Jun'; %>
                                            <% } else if(getMonth.localeCompare('7') == 0) { %>
                                                <% month = 'Jul'; %>
                                            <% } else if(getMonth.localeCompare('8') == 0) { %>
                                                <% month = 'Aug'; %>
                                            <% } else if(getMonth.localeCompare('9') == 0) { %>
                                                <% month = 'Sep'; %>
                                            <% } else if(getMonth.localeCompare('10') == 0) { %>
                                                <% month = 'Oct'; %>
                                            <% } else if(getMonth.localeCompare('11') == 0) { %>
                                                <% month = 'Nov'; %>
                                            <% } else if(getMonth.localeCompare('12') == 0) { %>
                                                <% month = 'Dec'; %>
                                            <% } else { %>
                                                <% month = 'ERROR'; %>
                                            <% } %>
                                        
                                            <% // Create the simplified date and return it. %>
                                            <% simplifiedDate = month + " " + day + ", " + year; %>
                                            <% return simplifiedDate; %>
                                        <% } %>

                                        <ul class="mt-1">
                                            <!-- The date displayed utilized the function above for simplification -->
                                            <li> <%= simplifyEventDate(event.eventDate) %> </li>

                                            <!-- Display the event location, description, volunteer, and donation information -->
                                            <li>Location: <%= event.eventLocation %> </li>

                                            <!-- If description is empty, do not display the description -->
                                            <!-- Use the split function to determine if the description was left blank -->
                                            <% var descriptionArray = event.eventDescription.split(" "); %>
                                            <% if(descriptionArray[1] != "") { %>

                                                <!-- If the description is not blank, obtain the info for it and display -->
                                                <% var descriptionString = ""; %>
                                                <% for(let i = 1; i < descriptionArray.length; i++) { %>
                                                    <% descriptionString = descriptionString + " " + descriptionArray[i]; %>
                                                <% } %>
                                                
                                                <!-- Display the description assuming it is not blank -->
                                                <li>Description: <%= descriptionString %></li>
                                            <% } %>

                                            
                                            <% // !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! %>


                                            <!-- If there are no donations contributed to this event, do not display -->
                                            <% if(event.neededDonations > 0) { // && CHECK IF USER CONTRIBUTED TO THIS EVENT) { %>
                                                <li> Donations: You have given PUT AMOUNT HERE </li>
                                            <% } %>


                                            <% // !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! %>


                                            <!-- Check if the user has times that they signed up for in the event. List the times out. -->
                                            <% if(user.timesAttending.length > 1) { %>
                                                <li>Times Attending: </li>

                                                <!-- FUNCTION: Function to get the value of the time attending -->
                                                <% function getResult() { %>
                                                    <% var value = $('timeattending').getValue(); %>
                                                <% } %>

                                                <!-- Makes POST request to the event cancellation route -->
                                                <form class="form-horizontal" action="/cancel_event" method="POST">
                                                    <!-- Create a counter variable that tracks the number of timeslots in each event a user has signed up for -->
                                                    <% var numTimeSlots = 0; %>

                                                    <ol>
                                                        <!-- Create different time slots that the user can cancel -->
                                                        <% user.timesAttending.forEach(function(timesAttendingEvent) { %>

                                                            <% // Take the time attending and remove the unique id from the total string for display purposes. %>
                                                            <% var timeAttendanceSplitTemp = timesAttendingEvent.split(" "); %>

                                                            <% // If the length of the split is greater than 1, the time attending is not an id alone. %>
                                                            <% if(timeAttendanceSplitTemp.length > 1) { %>
                                                                
                                                                <% // Create variables to store the time attendance information: %>
                                                                <% // The id attached to the time attendance and the time range itself. %>
                                                                <% var timeAttendanceIentifier = timeAttendanceSplitTemp[3]; %> <% // --> MAY NOT NEED THIS!!! %>
                                                                <% var timeAttendance = timeAttendanceSplitTemp[4] + " " + timeAttendanceSplitTemp[5] + " " + timeAttendanceSplitTemp[6] + " " + timeAttendanceSplitTemp[7] + " " + timeAttendanceSplitTemp[8]; %>

                                                                <% // If the time being attended matches the event it was from, render it %>
                                                                <% // within the correct event section in the user profile. %>
                                                                <% if(event.eventID == timeAttendanceIentifier) { %>
                                                                    <% // Display the time attending as a checkbox that the user can select. %>
                                                                    <li>
                                                                        <input type="checkbox" id="<%= timeAttendance %>" name="timeattending" value="<%= timesAttendingEvent %>">
                                                                        <label for="<%= timeAttendance %>"> <%= timeAttendance %> </label>
                                                                    </li>
                                                                    <% numTimeSlots += 1; %>
                                                                <% } %>

                                                            <% } %>

                                                        <% }); %>
                                                    </ol>

                                                    <!-- Create hidden input types to obtain the different values that will be processed by the server -->
                                                    <input type="hidden" id="customId" name="eventidentifier" value="<%= event._id %>" onChange="getResult()">
                                                    <input type="hidden" id="customId" name="timeattendlength" value="<%= numTimeSlots %>" onChange="getResult()">
                                                    <button type="submit" class="mt-4 btn btn-lg btn-outline-light">Cancel Time(s)</button>
                                                </form>
                                            <% } %>
                                        </ul>
                                    </div>
                                </div>                                
                            <% } %>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include('./partials/footer.ejs') %>
