<!-- 
    DESCRIPTION GOES HERE...
    ...
    Author: Andrew Krause, Riley Radle, Anthony Musbach, Zach Gephart
    Date: TBD
    ...
-->

<%- include('./partials/home_header.ejs') %>

    <!-- 
        Include EJS to display any error messages to the user if the
        attempt to access a page that they are not authorized to access.
    -->
    <% if(permissionDenied.length > 0) { %>
        <div class="card">
            <div class="card-body elementToFadeInAndOut">
                <h1 class="incorrect-input"><%= permissionDenied %></h1>
            </div>
        </div>
    <% } %>

    <!-- Create a card for showing the user data -->
    <div class="container mt-5 mb-5">
        <div class="row register-page-format">
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 mx-auto">
                <div class="card">
                    <div class="card-body">

                        <!-- Display user profile picture; if user did -->
                        <!-- not use OAuth to sign or does not have picture, -->
                        <!-- use default profile image -->
                        <form action="/user_profile" method="post">
                            <div class="mt-3 mb-3" id="profile-container">
                                <img id="profileImage" src=<%= user.picture %> alt="Image not Found" onerror=this.src="images/default_pic.png">
                            </div>
                        </form>

                        <!-- Display user name and status -->
                        <header>
                            <h1 class="black-text">Welcome,&nbsp;<%= user.firstName %>.</h1>
                            <p>Status: Volunteer</p>
                        </header>
                
                        <!-- Create a div for two inline buttons in the user profile -->
                        <div class="mt-4 mb-4 btn-group d-flex special" role="group" aria-label="...">
                            
                            <!-- Add a button for the user to find events -->
                            <div>
                                <form action="/find_events" method="POST">
                                    <div class="inner">
                                        <button type="submit" class="btn btn-outline-dark btn-block w-100">All Events</button>
                                    </div>
                                </form>
                            </div>
                            
                            <!-- Add a button for the user to see their history -->
                            <div>
                                <form action="" method=""> <!-- ADD A LINK TO THIS LATER!!! -->
                                    <div class="inner">
                                        <button type="submit" class="btn btn-outline-dark btn-block w-100">Event History</button>
                                    </div>
                                </form>
                            </div>

                        </div>

                        <!-- This represents the main content based on what is selected in the nav -->
                        <!-- <section class="row">
                            <h1>My Events</h1>
                            <ul class="profile-event-list">
                                <li class="">
                                    <p>Name: </p>
                                    <p>Date/Time: </p>
                                    <p>Location: </p>
                                </li>
                                <li class="">
                                    <p>Name: </p>
                                    <p>Date/Time: </p>
                                    <p>Location: </p>
                                </li>                    
                                <li class="">
                                    <p>Name: </p>
                                    <p>Date/Time: </p>
                                    <p>Location: </p>
                                </li>
                            </ul>
                        </section> -->
                    </div>

                    <div class="btn-group p-2">
                        <!-- Back button -->
                        <div class="d-flex">
                            <form action="/back" method="POST">
                                <div>
                                    <button type="submit" class="btn btn-outline-dark btn-back"><i class="fas fa-arrow-left"></i> Back</button>
                                </div>
                            </form>
                        </div>

                        <!-- Logout button -->
                        <div class="">
                            <form action="/logout" method="POST">
                                <div>
                                    <button type="submit" class="btn btn-outline-dark btn-logout">Logout</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include('./partials/footer.ejs') %>
